.box_uno {
  width: 500px;
  height: 300px;
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 5%;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.integrantes, .integrantes--ivan, .integrantes--juli, .integrantes--lean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.integrantes--ivan {
  background-color: black;
}

.integrantes--juli {
  background-color: black;
}

.integrantes--lean {
  background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  width: auto;
}

.header {
  background: black;
  background: linear-gradient(90deg, black 0%, #f3f5cc 20%, #f3f5cc 75%, white 85%);
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  color: #621144;
}

.header__marca {
  width: 50px;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav {
  padding-top: 10px;
}

.nav__item {
  margin-left: 16px;
}

.nav__enlace {
  color: #621144;
  text-decoration: none;
}

.lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background: black;
  background: linear-gradient(90deg, black 0%, #f3f5cc 20%, #f3f5cc 75%, white 85%);
  color: #621144;
  padding: 15px;
}

.seccion1 {
  color: black;
  background-image: url(../imagenes/16.png);
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo1 {
  font-size: 70px;
  font-weight: bold;
}

.titulo2 {
  font-size: 30px;
  text-align: end;
}

.seccion2 {
  color: white;
  background-image: url(../imagenes/13.png);
  width: 100%;
  min-height: 900px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lista1 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 50px;
  display: block;
}

.lista2 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 50px;
}

.lista3 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 50px;
}

.lista4 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 50px;
}

.parrafo {
  padding: 10px 50px;
  font-size: 20px;
  text-align: center;
}

.seccion3 {
  color: white;
  background-image: url(../imagenes/14.png);
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo3 {
  font-size: 50px;
  padding: 5px;
  width: auto;
  height: auto;
}

.eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fechas {
  margin: 1rem;
  list-style: none;
  font-size: 20px;
}

.marca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 40px;
  min-height: 900px;
  padding-top: 1rem;
  color: #621144;
}

.titulomain {
  font-size: 30px;
  font-weight: bold;
  text-align: unset;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}

.lista__nosotros {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.integrante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}

.imagenes {
  width: 500px;
  height: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.gridimagen {
  display: grid;
  grid-template-columns: auto auto auto;
}

.videos {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.gridvideo {
  display: grid;
  grid-template-columns: auto auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formu {
  padding: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.header__open {
  display: none;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
}

.seccion1 {
  color: white;
  background-image: url(../imagenes/16.png);
  width: 100%;
  min-height: 900px;
  margin-top: 1rem;
}

.seccion2 {
  color: white;
  width: 100%;
  min-height: 900px;
  margin-top: 1rem;
}

.seccion3 {
  color: #621144;
  width: 100%;
  min-height: 900px;
  margin-top: 1rem;
}

.tituloppal {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.parrafo {
  font-size: 30px;
  text-align: center;
}

.fecha {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  list-style: none;
}

.titulo__seccion3 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
  color: white;
  text-shadow: red -2px 0, cyan 2px 0;
}

.titulo__seccion2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.servicios {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.servicio__parrafo {
  font-size: 15px;
  text-align: center;
}

.fecha_parrafo {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  list-style: none;
  color: white;
  text-shadow: red -2px 0, cyan 2px 0;
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.shake-horizontal {
  text-decoration: none;
  color: #621144;
  -webkit-animation: shake-horizontal 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.jello-vertical {
  -webkit-animation: jello-vertical 4s both;
  animation: jello-vertical 4s both;
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.flicker-1 {
  -webkit-animation: flicker-1 3s linear infinite both;
  animation: flicker-1 3s linear infinite both;
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .seccion1 {
    display: flex;
    height: 100vh;
  }
  .header {
    flex-direction: row;
  }
  .logo {
    margin-left: 20px;
    margin-top: 16px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .header__open {
    display: block;
    font-size: 32px;
    color: #f3f5cc;
    text-decoration: none;
  }
  .titulo3 {
    font-size: 20x;
    display: flex;
    flex-wrap: wrap;
  }
  .titulo2 {
    font-size: 15px;
  }
  .footer {
    flex-direction: column;
    gap: 40px;
  }
  .footer__texto {
    order: -1;
  }
  .footer__marca {
    flex-direction: column;
    gap: 1rem;
  }
  #lateral {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right 1s;
  }
  #lateral:target {
    right: 0;
  }
  .lista {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  .nav__item {
    margin-left: 0;
  }
  .imagenes {
    width: 300px;
    height: auto;
    padding: 1rem;
  }
  .imagenes2 {
    width: 100%;
    min-height: 100%;
    padding: 1rem;
  }
  .gridimagen {
    display: flex;
    flex-direction: column;
  }
  .videos {
    width: 300px;
    height: auto;
    padding: 1rem;
  }
  .gridvideo {
    display: flex;
    flex-direction: column;
  }
  .tituloppal {
    font-size: 25px;
  }
  .parrafo {
    font-size: 20px;
  }
  .titulo__seccion2 {
    font-size: 25px;
  }
  .servicios {
    font-size: 20px;
  }
  .servicio__parrafo {
    font-size: 15px;
  }
  .titulo__seccion3 {
    font-size: 25px;
  }
  .fecha_parrafo {
    font-size: 15px;
  }
  .videos {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 70px;
  }
  .box_uno {
    width: 170px;
    height: 800px;
    background-color: grey;
    border-radius: 5%;
    text-align: center;
    margin: 20px;
    padding: 10px;
  }
}
/*# sourceMappingURL=estilos.css.map */