.header {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(243,245,204,1) 20%, rgba(243,245,204,1) 75%, rgba(255,255,255,1) 85%);
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    color: $color-ppal;

    &__marca {
        width: 50px;
    }

}

.logo {
    width: 70px;
    height: 70px;
}

.nav {
    padding-top: 10px;

    &__item {
        margin-left: 16px;
    }
    
    &__enlace{
        color: $color-ppal;
        text-decoration: none;
    }
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

