@mixin container($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border-radius: 5%;
    text-align: center;
    margin: 20px;
    padding: 10px;
  } 
  
  .box_uno{
    @include container(500px, 300px, grey
    )
  }

  

  $primary: #621144;
  $second: white;

  $theme-colors: (
    "primary": $primary,
    "second": $second,

  )

 
/*%integrantes {
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px
    font-size: 20px
  }
  
  .ivan {
    @extend %integrantes;
    background-color: red;
  }

  .juli {
    @extend %integrantes;
    background-color: blue;
  }

  .lean {
    @extend %integrantes;
    background-color: yellow;
  }*/