@mixin container($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border-radius: 10%;
    text-align: center;
    font-size: 15px;
    margin: 20px;
    padding: 20px;
  } 
  
  .box_uno{
    @include container (700, 270px, rgba(34,34,34,0.75));

  }



  $primary: #621144;
  $second: white;

  $theme-colors: (
    "primary": $primary,
    "second": $second,
    
  );

  
.integrantes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    height: 300px;
    border-radius: 200px;

  }
  
  .integrantes--ivan {
    @extend .integrantes;
    background-color: black;
  }

  .integrantes--juli {
    @extend .integrantes;
    background-color: black;
  }

  .integrantes--lean {
    @extend .integrantes;
    background-color: black;
  }