.seccion1 {
    color: black;
    background-image: url(../imagenes/16.png);
    width: 100%;
    min-height: 900px;

   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.titulo1{
    font-size: 70px;
    font-weight: bold;
        
}

.titulo2{
    font-size: 30px;
    text-align: end;
}
